@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


.Titulos{
    color: green;
    font-size: 32px;
}


a:visited {
    color: grey;
    color: green;
}